@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-main: #fff;
  --clr-primary: #189ae4;
  --clr-primary-light: #57b8f0;
  --clr-primary-dark: #147bb8;
  --clr-secondary: #ffb703;
  --clr-secondary-light: #d4af4f;
  --clr-secondary-dark: #d89b01;
}

body {
  font-family: "Poppins", sans-serif;
}

@layer base {
  body {
    @apply bg-white;
  }
}

@layer component {
  .btn-lg-primary {
    @apply inline-block px-8 py-4 text-lg font-medium bg-primary !text-white rounded-[30px] hover:bg-primary-dark transition-all duration-300 ease-in;
  }
  .btn-sm-primary {
    @apply inline-block bg-primary px-4 py-2 !text-white rounded-[30px] text-sm font-medium hover:bg-primary-dark transition-all duration-300 ease-in;
  }
  .btn-sm-secondary {
    @apply inline-block bg-secondary px-4 py-2 !text-white rounded-[30px] text-sm font-medium hover:bg-secondary-dark transition-all duration-300 ease-in;
  }
  .btn-sm-outline-primary {
    @apply inline-block bg-none px-4 py-2 text-primary border border-primary rounded-[30px] text-sm font-medium hover:text-white hover:bg-primary transition-all duration-300 ease-in;
  }
}
